@import "tailwindcss";

@theme {
  --color-brand-mustard: #F4C43A;
  --color-brand-tangerine: #FF7A1A;
  --color-brand-red: #E65353;
  --color-brand-cream: #FDF5E6;
  --color-brand-navy: #101828;
  --font-family-sans: var(--font-smooch-sans), sans-serif;
}

:root {
  --font-onyx: var(--font-onyx);
  --font-edwardian: var(--font-edwardian-script);
}

/* Custom Grid Pattern Utility */
.bg-grid-pattern {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
}